# Wyscout Data for Inter 2017-2018

In this notebooks we will learn to work with [Wyscout](https://wyscout.com/) data and to extract useful information for the tactical point of view.

For this course we will use che [Player Rank](https://github.com/mesosbrodleto/playerank) open source project owned by Pappalardo Luca, Cintia Paolo & Co.

## utilities

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import util
path = "C:/Users/Mauro/OneDrive/Documenti/Football/playerank-master"
inter_id = 3161

### teams

**GET ALL THE TEAMS**

In [3]:
teams = pd.read_json(os.path.join(path, 'data/teams.json'))
len(teams)
teams.head(3)

,area,city,name,officialName,type,wyId
0,"{'name': 'England', 'id': '0', 'alpha3code': '...",Newcastle upon Tyne,Newcastle United,Newcastle United FC,club,1613
1,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Vigo,Celta de Vigo,Real Club Celta de Vigo,club,692
2,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Barcelona,Espanyol,Reial Club Deportiu Espanyol,club,691

**GET INFO ABOUT INTER TEAM**

In [4]:
inter_team = teams[teams.wyId == inter_id]
inter_team

,area,city,name,officialName,type,wyId
53,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Milano,Internazionale,FC Internazionale Milano,club,3161

**NORMALIZE COLUMNS THAT ARE NESTED JSON**

In [6]:
inter_team = util.normalize_column(inter_team, ["area"])
inter_team

,city,name,officialName,type,wyId,area_alpha2code,area_alpha3code,area_id,area_name
0,Milano,Internazionale,FC Internazionale Milano,club,3161,IT,ITA,380,Italy

**EXPLORE INFORMATIONS**

In [7]:
print("For each team we have these informations")
inter_team.dtypes

For each team we have these informations

city               object
name               object
officialName       object
type               object
wyId                int64
area_alpha2code    object
area_alpha3code    object
area_id            object
area_name          object
dtype: object

In [8]:
inter_team[['wyId', 'officialName']]

   wyId              officialName
0  3161  FC Internazionale Milano