# Wyscout Data for Inter 2017-2018

In this notebooks we will learn to work with [Wyscout](https://wyscout.com/) data and to extract useful information for the tactical point of view.

For this course we will use che [Player Rank](https://github.com/mesosbrodleto/playerank) open source project owned by Pappalardo Luca, Cintia Paolo & Co.

## utilities

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.io.json import json_normalize
import util
path = "C:/Users/Mauro/OneDrive/Documenti/Football/playerank-master"
inter_id = 3161

### matches

**GET ALL SERIE A MATCHES**

In [2]:
matches = pd.read_json(os.path.join(path, 'data/matches/matches_Italy.json'))
len(matches)
matches.head(3)

,competitionId,date,dateutc,duration,gameweek,label,referees,roundId,seasonId,status,teamsData,venue,winner,wyId
0,524,"May 20, 2018 at 8:45:00 PM GMT+2",2018-05-20 18:45:00,Regular,38,"Lazio - Internazionale, 2 - 3","[{'refereeId': 377206, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",,3161,2576335
1,524,"May 20, 2018 at 8:45:00 PM GMT+2",2018-05-20 18:45:00,Regular,38,"Sassuolo - Roma, 0 - 1","[{'refereeId': 377255, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3158': {'scoreET': 0, 'coachId': 210119, 'si...",MAPEI Stadium - Citt\u00e0 del Tricolore,3158,2576336
2,524,"May 20, 2018 at 6:00:00 PM GMT+2",2018-05-20 16:00:00,Regular,38,"Cagliari - Atalanta, 1 - 0","[{'refereeId': 377247, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3173': {'scoreET': 0, 'coachId': 251044, 'si...",,3173,2576329

**GET ALL INTER MATCHES**

In [7]:
inter_matches = matches[matches.label.str.contains("Internazionale")]
inter_matches.head(3)

,competitionId,date,dateutc,duration,gameweek,label,referees,roundId,seasonId,status,teamsData,venue,winner,wyId
0,524,"May 20, 2018 at 8:45:00 PM GMT+2",2018-05-20 18:45:00,Regular,38,"Lazio - Internazionale, 2 - 3","[{'refereeId': 377206, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",,3161,2576335
18,524,"May 12, 2018 at 8:45:00 PM GMT+2",2018-05-12 18:45:00,Regular,37,"Internazionale - Sassuolo, 1 - 2","[{'refereeId': 377271, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3315': {'scoreET': 0, 'coachId': 20603, 'sid...",,3315,2576326
27,524,"May 6, 2018 at 12:30:00 PM GMT+2",2018-05-06 10:30:00,Regular,36,"Udinese - Internazionale, 0 - 4","[{'refereeId': 377232, 'role': 'referee'}, {'r...",4406278,181248,Played,"{'3163': {'scoreET': 0, 'coachId': 267555, 'si...",,3161,2576315

**NORMALIZE REFEREES DATA**

In [8]:
inter_matches = util.get_referees(inter_matches, "referees")
inter_matches.head(3)

,competitionId,date,dateutc,duration,gameweek,label,roundId,seasonId,status,teamsData,venue,winner,wyId,referee,firstAssistant,secondAssistant,fourthOfficial,firstAdditionalAssistant,secondAdditionalAssistant
0,524,"May 20, 2018 at 8:45:00 PM GMT+2",2018-05-20 18:45:00,Regular,38,"Lazio - Internazionale, 2 - 3",4406278,181248,Played,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",,3161,2576335,377206,,384945,377241,,
1,524,"May 12, 2018 at 8:45:00 PM GMT+2",2018-05-12 18:45:00,Regular,37,"Internazionale - Sassuolo, 1 - 2",4406278,181248,Played,"{'3315': {'scoreET': 0, 'coachId': 20603, 'sid...",,3315,2576326,377271,396642,393628,377261,,
2,524,"May 6, 2018 at 12:30:00 PM GMT+2",2018-05-06 10:30:00,Regular,36,"Udinese - Internazionale, 0 - 4",4406278,181248,Played,"{'3163': {'scoreET': 0, 'coachId': 267555, 'si...",,3161,2576315,377232,379461,381926,377243,,

**GET TEAMS DATA FOR EVERY INTER MATCH IN A DICTIONARY**

In [9]:
teamsData = util.get_teamsData(inter_matches)
match_id = inter_matches[inter_matches.label.str.contains("Lazio - Internazionale")].wyId[0]
teamsData[match_id]

,home,away
coachId,251025,101547
formation,"{'bench': [{'playerId': 4792, 'ownGoals': '2',...","{'bench': [{'playerId': 3543, 'ownGoals': '0',..."
hasFormation,1,1
score,2,3
scoreET,0,0
scoreHT,2,1
scoreP,0,0
side,home,away
teamId,3162,3161

**GET ALL THE FORMATIONS ABOUT INTER MATCHES (OPPONENT TOO)**

In [10]:
formationsData = util.get_formations(teamsData)
match_id = inter_matches[inter_matches.label.str.contains(" - Milan")].wyId.iloc[0]
formationsData[formationsData.matchId == match_id]

,goals,ownGoals,playerId,redCards,yellowCards,matchId,team,minute,playerIn
0,0,0,20556,0,0,2576034,home,73,135903
1,0,0,3543,0,0,2576034,home,85,20626
2,0,0,21094,0,0,2576034,home,NaN,NaN
3,0,1,20571,0,0,2576034,home,NaN,NaN
4,0,0,3431,0,15,2576034,home,NaN,NaN
5,0,0,138408,0,0,2576034,home,NaN,NaN
6,3,0,206314,0,91,2576034,home,90,7982
7,0,0,14812,0,79,2576034,home,NaN,NaN
8,0,0,116349,0,25,2576034,home,NaN,NaN
9,0,0,20517,0,0,2576034,home,NaN,NaN
10,0,0,241676,0,66,2576034,home,NaN,NaN
0,0,0,285109,0,0,2576034,away,46,351010
1,0,0,146588,0,22,2576034,away,78,286226
2,0,0,3526,0,0,2576034,away,NaN,NaN
3,0,0,350999,0,0,2576034,away,NaN,NaN
4,0,0,14922,0,89,2576034,away,NaN,NaN
5,1,0,11063,0,0,2576034,away,NaN,NaN
6,0,0,20449,0,0,2576034,away,NaN,NaN
7,0,0,135927,0,0,2576034,away,NaN,NaN
8,0,0,20459,0,0,2576034,away,NaN,NaN
9,0,0,37732,0,0,2576034,away,NaN,NaN
10,0,0,20845,0,0,2576034,away,NaN,NaN

**EXPLORE INFORMATION ABOUT INTER MATCHES**

In [11]:
print("There are", inter_matches.shape[0], "matches")

There are 38 matches

In [12]:
print("For each match we have these informations")
inter_matches.dtypes

For each match we have these informations

competitionId                 int64
date                         object
dateutc                      object
duration                     object
gameweek                      int64
label                        object
roundId                       int64
seasonId                      int64
status                       object
teamsData                    object
venue                        object
winner                        int64
wyId                          int64
referee                      object
firstAssistant               object
secondAssistant              object
fourthOfficial               object
firstAdditionalAssistant     object
secondAdditionalAssistant    object
dtype: object

In [13]:
inter_matches = inter_matches[['wyId', 'gameweek', 'label']].sort_values(by="gameweek")
inter_matches

       wyId  gameweek                                  label
37  2575963         1     Internazionale - Fiorentina, 3 - 0
36  2575976         2           Roma - Internazionale, 1 - 3
35  2575984         3           Internazionale - SPAL, 2 - 0
34  2575990         4        Crotone - Internazionale, 0 - 2
33  2576001         5        Bologna - Internazionale, 1 - 1
32  2576013         6          Internazionale - Genoa, 1 - 0
31  2576020         7      Benevento - Internazionale, 1 - 2
30  2576034         8          Internazionale - Milan, 3 - 2
29  2576044         9         Napoli - Internazionale, 0 - 0
28  2576055        10      Internazionale - Sampdoria, 3 - 2
27  2576061        11  Hellas Verona - Internazionale, 1 - 2
26  2576075        12         Internazionale - Torino, 1 - 1
25  2576082        13       Internazionale - Atalanta, 2 - 0
24  2576091        14       Cagliari - Internazionale, 1 - 3
23  2576104        15         Internazionale - Chievo, 5 - 0
22  2576112        16       Juventus - Internazionale, 0 - 0
21  2576125        17        Internazionale - Udinese, 1 - 3
20  2576136        18       Sassuolo - Internazionale, 1 - 0
19  2576145        19          Internazionale - Lazio, 0 - 0
18  2576153        20     Fiorentina - Internazionale, 1 - 1
17  2576166        21           Internazionale - Roma, 1 - 1
16  2576174        22           SPAL - Internazionale, 1 - 1
15  2576180        23        Internazionale - Crotone, 1 - 1
14  2576191        24        Internazionale - Bologna, 2 - 1
13  2576203        25          Genoa - Internazionale, 2 - 0
12  2576210        26      Internazionale - Benevento, 2 - 0
8   2576224        27          Milan - Internazionale, 0 - 0
11  2576234        28         Internazionale - Napoli, 0 - 0
10  2576245        29      Sampdoria - Internazionale, 0 - 5
9   2576251        30  Internazionale - Hellas Verona, 3 - 0
7   2576265        31         Torino - Internazionale, 1 - 0
6   2576272        32       Atalanta - Internazionale, 0 - 0
5   2576281        33       Internazionale - Cagliari, 4 - 0
4   2576294        34         Chievo - Internazionale, 1 - 2
3   2576302        35       Internazionale - Juventus, 2 - 3
2   2576315        36        Udinese - Internazionale, 0 - 4
1   2576326        37       Internazionale - Sassuolo, 1 - 2
0   2576335        38          Lazio - Internazionale, 2 - 3

In [16]:
path = "C:/Users/Mauro/OneDrive/Documenti/Football/Inter_2017_2018"
inter_players = pd.read_csv(os.path.join(path, "inter_players.csv"))
derby_lineups = formationsData.query("matchId == 2576034 and team == 'home'")
pd.merge(derby_lineups, inter_players, how="left", left_on="playerId", right_on="wyId")[['playerId', 'shortName']]

    playerId       shortName
0      20556     A. Candreva
1       3543    Borja Valero
2      21094   D. D'Ambrosio
3      20571   S. Handanovič
4       3431    João Miranda
5     138408     M. Škriniar
6     206314       M. Icardi
7      14812      I. Perišić
8     116349       M. Vecino
9      20517             NaN
10    241676  R. Gagliardini

**EXPORT USEFUL DATA IN CSV FILE**

In [17]:
inter_matches.to_csv("inter_matches.csv", index_label=False)
formationsData.to_csv("inter_matches_formations.csv", index_label=False)